<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"\n        android:fullBackupContent="@xml/backup_rules"\n        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/ana_keyboard_icon"
        android:roundIcon="@drawable/ana_keyboard_icon"
        android:label="Ana Keyboard"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnaKeyboard"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MicrophonePermissionActivity"
            android:exported="false" />

        <activity
            android:name=".GifPickerActivity"
            android:exported="false" />

        <provider
            android:name=".GifContentProvider"
            android:authorities="com.ana.keyboard.gifs"
            android:exported="false"
            android:grantUriPermissions="true" />

        <service
            android:name=".AnaKeyboardService"
            android:exported="true"
            android:label="Ana Keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
    </application>
</manifest>
